
h1{
    border: 3px solid black;
    color: brown;
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    
}
h3{
    color: blue;
    text-align: center;

}
h2{
    color:bisque ;text-align: center;

}